.footer{
  height: 300px;
  background-color: gold;
  display: flex;
  justify-content: center;
}

.container{
  border: 1px solid red;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.wrapper{
  display: flex;
flex-direction: row;
  justify-content: space-around;
}